@model OrbisTerrarum.ViewModels.CharacterEventsDetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div>
    <h4>Character</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Characters.WorldId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Characters.WorldId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Characters.CharacterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Characters.CharacterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Characters.CharacterAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Characters.CharacterAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Characters.CharacterDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Characters.CharacterDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Characters.CharacterAlignment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Characters.CharacterAlignment)
        </dd>
    </dl>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Events.FirstOrDefault().EventId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Events.FirstOrDefault().EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Events.FirstOrDefault().EventDescription)
            </th>
        </tr>
        @foreach(var item in Model.Events)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDescription)
                </td>
            </tr>
        }
    </table>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Characters.Id }) |
    @Html.ActionLink("Back to index", "Index", new { id = Model.Characters.WorldId })
</div>
