@model IEnumerable<LogicLayerOrbis.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @Html.ActionLink("Create New", "Create", new { id = Model.FirstOrDefault().WorldId })
</p>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorldId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventResolved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventEnd)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorldId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventResolved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventEnd)
                </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.EventId }) |
                @Html.ActionLink("Details", "Details", new { id=item.EventId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.EventId })
            </td>
        </tr>
}
    </tbody>
</table>
