@model IEnumerable<LogicLayerOrbis.World>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "World Index";
}

<h2>World List</h2>

<p>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorldName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorldDesc)
        </th>
        <th>
            @Html.ActionLink("Create New", "Create")
        </th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorldName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorldDesc)
            </td>
            <td>
                @Html.ActionLink("World Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Edit World", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete World", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
